.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Flutter.modulemap
/ios/Flutter/ephemeral/
/ios/Flutter/.last_build_id
/ios/Flutter/flutter_export_environment.sh
Generated.xcconfig
Flutter/Flutter.podspec
Flutter/Flutter.modulemap
Flutter/ephemeral/
Flutter/.last_build_id
Flutter/flutter_export_environment.sh
**/Flutter/flutter_export_environment.sh
**/Flutter/Flutter.podspec
**/Flutter/Flutter.modulemap
**/GeneratedPluginRegistrant.swift
**/Flutter/ephemeral/
**/Flutter/.last_build_id
**/Flutter/flutter_export_environment.sh
**/Flutter/Flutter.podspec
**/Flutter/Flutter.modulemap
Generated.xcconfig
